<!--<div class="max-w-4xl mx-auto px-6 py-8">-->
<!--  <h1 class="text-3xl font-semibold text-center text-gray-800 mb-8">-->
<!--    Control de Marcaje de Entrada y Salida-->
<!--  </h1>-->

<!--  &lt;!&ndash; Componente de botones de entrada/salida &ndash;&gt;-->
<!--  <app-clocking-buttons (message)="message = $event" (clockingRecordsUpdated)="clockingRecords.push($event)"></app-clocking-buttons>-->

<!--  &lt;!&ndash; Mostrar mensaje de éxito o error &ndash;&gt;-->
<!--  <div *ngIf="message" class="mb-4 text-center text-green-600">-->
<!--    <p>{{ message }}</p>-->
<!--  </div>-->

<!--  &lt;!&ndash; Mostrar los registros de marcaje &ndash;&gt;-->
<!--  <app-clocking-records [clockingRecords]="clockingRecords"></app-clocking-records>-->
<!--</div>-->


<app-login-employee></app-login-employee>
