<div class="mb-6">

  <div class="w-full max-w-sm min-w-[200px]">
    <input  [(ngModel)]="employeeId" class="w-full bg-transparent placeholder:text-slate-400 text-slate-700 text-sm border border-slate-200 rounded-md px-3 py-2 transition duration-300 ease focus:outline-none focus:border-slate-400 hover:border-slate-300 shadow-sm focus:shadow" placeholder="Employee id">
  </div>


  <div class="mt-5">
    <!-- Botón de Marcar Entrada -->
    <button
      (click)="markClockIn()"
      class="px-6 py-3 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-400 transition duration-200"
    >
      Marcar Entrada
    </button>

    <!-- Espaciado entre botones -->
    <span class="mx-4"></span>

    <!-- Botón de Marcar Salida -->
    <button
      (click)="markClockOut()"
      class="px-6 py-3 bg-green-500 text-white font-semibold rounded-lg hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-400 transition duration-200"
    >
      Marcar Salida
    </button>
  </div>

</div>
